<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <div class="form-inputs">
      <div class="row">
          <%= f.input :content, label: false, input_html:{ class: 'form-group form-control'} %>
      </div>
    </div>
  </fieldset>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "Criar Post" , class: 'btn btn-default btn-primary' %>
    <%= link_to 'Cancelar', root_path, class: 'btn btn-default pull-right' %>
  </div>
<% end %>