<div class="container">
  <div class="row">
  	<% @users.each do |user| %>
	        <div class="col-lg-4">
	          <div class="thumbnail">
		          <img class="img-circle" src="http://lorempixel.com/140/140/people" alt="Generic placeholder image" width="140" height="140">
		         	<div class="caption text-center">
			          <h2> <%= user.first_name %> <%= user.last_name %></h2>
			          <p>Email: <%= user.email %></p>
			          <button class="btn btn-default btn-block" type="button">
                Publicações <span class="badge"><%= user.posts.count %></span>
	              </button>
	              <br>
	              <button class="btn btn-primary btn-block" type="button">
	                Seguidores <span class="badge"><%= user.followers.count %></span>
	              </button>
	              <br>
	              <button class="btn btn-success btn-block" type="button">
	                Seguindo <span class="badge"><%= user.followed.count %></span>
	              </button>
	              <br>
			           <% if current_user.following?(user.id) %>
                	<a href="#" class="btn btn-success disabled" role="button">Seguindo</a>
              	<% else %>
                	<%= link_to 'Seguir', profile_follow_path(id: user.id), method: :follow, data: { confirm: 'Está certo disso?' } , class: "btn btn-primary" %>
              	<% end %>
			          <%= link_to 'Perfil', { controller: "profile", action: "show", id: user.id } , class: "btn btn-default" %>
		         	</div>
	          </div>
	        </div><!-- /.col-lg-4 -->
  	<% end %>
  </div>
</div>