<div class="container">
  <%= render 'alerts' %>
  <div class="row">
        <div class="col-lg-4">
          <div class="thumbnail">
            <img class="img-circle" src="http://lorempixel.com/140/140/people" alt="Generic placeholder image" width="140" height="140">
            <div class="caption text-center">
              <h2> <%= @user.first_name %> <%= @user.last_name %></h2>
              <p>Email: <%= @user.email %></p>
              <button class="btn btn-default btn-block" type="button">
                Publicações <span class="badge"><%= @user.posts.count %></span>
              </button>
              <br>
              <button class="btn btn-primary btn-block" type="button">
                Seguidores <span class="badge"><%= @user.followers.count %></span>
              </button>
              <br>
              <button class="btn btn-success btn-block" type="button">
                Seguindo <span class="badge"><%= @user.followed.count %></span>
              </button>
              <br>
              <% if current_user.following?(@user.id) %>
                <a href="#" class="btn btn-success disabled" role="button">Seguindo</a>
              <% else %>
                <%= link_to 'Seguir', profile_follow_path(id: @user.id), method: :follow, data: { confirm: 'Está certo disso?' } , class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-8">
         <% @user.posts.each do |post| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="form-inline">
                <img src="http://lorempixel.com/140/140/people" class="img-circle" width="48" height="48">
                <h4 class="form-control"><%= post.user.first_name %></h4> 
                <% if current_user.admin? %>
                  <div class="pull-right">
                  <%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Está certo disso?' }, class: "btn btn-danger" %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="panel-body">
              <%= post.content %>
            </div>
          </div>
        <% end %>
        </div><!-- /.col-lg-4 -->
  </div>
</div>